---
layout: page
title: Relatos
permalink: /relatos/
---
<table class="collection">
  <tbody>
    {% for relato in site.relatos reversed %}
    <tr>
      <td>
        <span class="collection-date">{% include date.html date=relato.date %}</span>
      </td>
      <td>
        <a href="
          {% if relato.permalink %}
          {{ relato.permalink | relative_url }}
          {% else %}
          {{ relato.url | relative_url }}
          {% endif %}"
        >
          {{ relato.title }}
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>