<header class="site-header" role="banner">
  <div class="wrapper">
    <div class="site-header__title">
      <h1>
        <a href="{{ "/" | relative_url }}">
          {{ site.html_title }}
        </a>
      </h1>
    </div>
    <nav class="site-header__nav">
      {% if site.pages %}
        <ul>
          <li class="main__hidden">
            <a href="{{ "/" | relative_url }}">Hogar</a>
          </li>
          {% for m_page in site.pages reversed %}
            {% if m_page.title and
              m_page.autogen == nil and
              m_page.home != true and
              m_page.title != page.title %}
              <li>
                <a href="{{ m_page.url | relative_url }}">{{ m_page.title
                  }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    </nav>
  </div>
  {% include actions.html %}
  <div class="wrapper">
    <div class="site-header__headline">
        {% if page.autogen == nil  and page.home != true %}
          <h2><span>{{ page.title }}</span></h2>
        {% endif %}
    </div>
  </div>
</header>
