<div class="wrapper">
  <nav class="site-nav">
    {% if site.pages %}
      <ul>
        <li>
          <a href="{{ "/" | relative_url }}">Inicio</a>
        </li>
        {% for m_page in site.pages reversed %}
          {% if m_page.title and
            m_page.autogen == nil and
            m_page.autopages == nil and
            m_page.home != true and
            m_page.title != page.title %}
            <li>
              <a href="{{ m_page.url | relative_url }}">{{ m_page.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  </nav>
</div>
