{% if paginator.total_pages > 1 %}
<div class="pagination">
  <ul class="paginator">
    {% if paginator.previous_page %}
      <li class="paginator-prev">
        <a class="paginator-item" href="{{ paginator.previous_page_path | remove: 'index.html' |
          relative_url }}">«</a>
      </li>
    {% endif %}
    {% if paginator.page_trail %}
      {% for trail in paginator.page_trail %}
        <li>
          {% if page.url != trail.path %}
          <a class="paginator-item" href="{{ trail.path | remove: 'index.html' | relative_url }}" title="{{trail.title}}">{{ trail.num
              }}</a>
          {% else %}
          <strong class="paginator-item paginator-selected">{{ trail.num }}</strong>
          {% endif %}
        </li>
      {% endfor %}
    {% endif %}
    {% if paginator.next_page %}
      <li class="paginator-next">
        <a class="paginator-item" href="{{ paginator.next_page_path | remove: 'index.html' |
          relative_url }}">»</a>
      </li>
    {% endif %}
  </ul>
</div>
{% endif %}
