{% assign post=include.post %}
{% assign currentCategory = page.title | strip_html | downcase %}
{% assign postCategory = post.category | downcase %}
<article class="post-preview">
  {% if currentCategory != postCategory %}
    <header class="category">
      <a href="/categoria/{{post.category}}">{{ post.category }}</a>
    </header>
  {% endif %}
  <a class="post-preview__link" href="
    {% if post.permalink %}
    {{ post.permalink | relative_url }}
    {% else %}
    {{ post.url | relative_url }}
    {% endif %}">
      <header class="post-preview__header">
        <h3 class="post-preview__heading">
          {{ post.title }}
          <span class="post-preview__date">
              {% include date.html date=post.date %}
          </span>
        </h3>
      </header>
      <section class="post-preview__body">
        <p>
          {{ post.excerpt | strip_html }}
        </p>
      </section>
  </a>
  {% include tag-list.html tags=post.tags %}
</article>