/* anchors */
a[href] 
  color: inherit
  text-decoration: none
  padding-bottom: 0.025em
  /*display: inline-block*/
  background-image: linear-gradient(to bottom, rgba(0,0,0,.5) 50%, rgba(0,0,0,0) 50%)
  background-repeat: repeat-x
  background-size: 2px .1em
  background-position: 0 1.025em
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff

a[href^="#"] 
  background: inherit
  border-bottom: 1px dotted rgba(0,0,0,0.1)

a[href]:hover 
  color: $primary-text-color
  background-image: linear-gradient(to bottom, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 50%)

a[href^="#"]:hover 
  background: inherit
  border-color: $primary-text-color

a.img
  border: none
  background: transparent !important 
