.site-header
  font-family: 'Roboto Condensed', helvetica, sans-serif
  +margin(2rem null 1rem)

  &__title
    +display(none)

    i
      font-style: inherit

  a[href]
    background: none
    text-decoration: none
    text-shadow: none

    &:hover
      background: none

.main
  .site-header
    +margin(1rem null 1rem)

    h1, h2
      font-family: 'Roboto Condensed', helvetica, sans-serif
      margin: 0

    &__title
      display: block
      margin-bottom: 1rem

    &__nav
      display: block

.night-mode
  .site-header
    &__nav
      color: $ternary-text-color

@media only screen and (min-device-width: 568px)
  .main
    .site-header
      .wrapper:first-child
        display: table
        width: calc(100% - 4rem)
