.table
  &-full
    width: 100%

  &-half
    width: 50%

.arrows-table
  font-size: 1.5rem
  +margin(0 auto)
  text-align: center

.commands-table
  td:first-child
    vertical-align: top 
    min-width: 20%

.solid-table
  font-size: .9rem
  border-collapse: collapse
  tr
    border-bottom: 1px solid $primary-color-dark
    &:last-child
      border-bottom: 0
  td
    padding: .5rem