kbd
  display: inline-block
  margin: 0 .1em
  padding: .1em .6em
  font-size: .8rem
  border: 1px solid $accent-color
  border-radius: 3px
  box-shadow: 0 1px 0 rgba(12,13,14,0.2), 0 0 0 2px #FFF inset
  white-space: nowrap

.headline
  h2
    color: $secondary-text-color
    display: block
    line-height: 2

.night-mode
  .headline
    color: $ternary-text-color

.category,
.tag
  &-title
    color: $secondary-text-color

.category-title
  text-transform: uppercase

.category
  font-size: .8em
  text-transform: uppercase

.tags
  font-size: .7em
  
  li
    display: inline-block
    list-style: none
    +margin(0 .5rem 0 0)
    &> a
      background: none
      border: 1px solid $secondary-text-color
      color: $secondary-text-color
      padding: .1rem .2rem
      text-shadow: none
      &:hover
        background: none
        
    &:last-child
      margin-right: 0