@import 'bourbon/bourbon'

$header-height: 100px
$footer-height: 70px

@viewport
  width: device-width

*
  font-family: inherit
  margin: 0
  padding: 0

body
  background: #fff
  color: #222
  font-family: Inconsolata, Consolas, "Liberation Mono", Menlo, Courier, monospace
  font-size: 16px
  line-height: 1.5
  font-smoothing: subpixel-antialiased
  scroll-behavior: smooth
  text-rendering: optimizeLegibility
  text-rendering: geometricPrecision
  font-feature-settings: "kern" 1, "liga" 1
  max-width: 720px
  +margin(0 auto)

h1, h2, h3, h4, h5, h6
  +margin(0 0 .5em)

  &> a
    background-color: transition !important
    color: inherit !important

    &:hover
      background-color: transition !important
      color: inherit !important

img
  border: none
  max-width: 100%

/* anchors */
a[href] 
  color: inherit
  text-decoration: none
  padding-bottom: 0.025em
  /*display: inline-block*/
  background-image: linear-gradient(to bottom, rgba(0,0,0,.5) 50%, rgba(0,0,0,0) 50%)
  background-repeat: repeat-x
  background-size: 2px .1em
  background-position: 0 1.025em
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff

a[href^="#"] 
  background: inherit
  border-bottom: 1px dotted rgba(0,0,0,0.1)

a[href]:hover 
  color: #000
  background-image: linear-gradient(to bottom, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 50%)

a[href^="#"]:hover 
  background: inherit
  border-color: black

a.img
  border: none
  background: transparent !important 

/* anchors: headings */
h1, h2, h3, h4, h5, h6
  & > a
    color: inherit !important

    &:hover
      color: inherit !important

p
  +margin(null null 2rem)


.wrapper
  +margin(0 2rem)

.site-header
  color: #040404

  .wrapper
    height: $header-height
    +display(flex)
    +flex-direction(column)
    +margin(16px null)
    +justify-content(space-around)

  &__title
    +display(flex)
    +flex-direction(column)
    +justify-content(center)
    +margin(0)
    // +transition(font 0.3s ease)

    i
      font-style: inherit

    // &:hover
    //   font-size: 34px

  &__nav
    color: #aaa

    ul
      +align-items(stretch)
      +display(flex)
      +flex(1)
      +flex-direction(row-reverse)
      height: 100%

    li
      list-style: none
      +display(flex)
      +flex-direction(column)
      +justify-content(center)

    a[href]
      +margin(0 .8em)
      text-rendering: geometricPrecision

  a[href]
    background: none
    text-decoration: none
    text-shadow: none

    &:hover
      background: none

.page-content
  min-height: calc(100vh - 206px)

  .wrapper
    +margin(0 null 3em)

  img
    display: block

.site-footer
  color: #ccc
  font-size: 14px
  height: 70px

  .wrapper
    height: 100%
    +display(flex)
    +align-items(center)

  a
    text-decoration: underline

  p
    +margin(null null 0)

.post-preview,
.tale-preview
  +margin(0 0 2.5em)

  &> a 
    background: none
    color: inherit
    display: block
    text-shadow: none

    &:hover
      background: none

  &__heading
    display: inline-block
    +margin(null null 0)

  &__subheading
    color: #aaa
    display: block
    font-size: 14px
    +margin(null null .5rem)

  &__body
    p
      +margin(null null 0)

  &:hover 
    .post-preview__heading
      background-color: black
      color: white

/* post */
.post, .tale
  &__header
    &__subheading
      color: #aaa
      font-size: 14px

@media only screen and (min-device-width: 568px)
  .site-header
    .wrapper
      +flex-direction(row)
      +justify-content(space-between)
