---
layout: page
---

<p>{{site.description}}</p>

<h2>Lo que estoy leyendo ahora</h2>
      <!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
      <style type="text/css" media="screen">
  .gr_custom_container_1487339563 {
    /* customize your Goodreads widget container here*/
    border: 0px solid gray;
    border-radius:10px;
    padding: 10px 5px 10px 5px;
    background-color: transparent;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
  }
  .gr_custom_header_1487339563 {
    /* customize your Goodreads header here*/
    width: 100%;
    margin-bottom: 5px;
    display: none;
  }
  .gr_custom_each_container_1487339563 {
    /* customize each individual book container here */
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    overflow: auto;
    padding-bottom: 4px;
    flex: 1 0 100%;
  }
  .gr_custom_book_container_1487339563 {
    /* customize your book covers here */
    overflow: hidden;
    height: 160px;
      float: left;
      margin-right: 4px;
      width: 98px;
  }
  .gr_custom_author_1487339563 {
    /* customize your author names here */
    font-size: 10px;
  }
  .gr_custom_tags_1487339563 {
    /* customize your tags here */
    font-size: 10px;
    color: gray;
  }
  .gr_custom_rating_1487339563 {
    /* customize your rating stars here */
    float: right;
  }
  center {
    display: none;
    /* flex: 1 0 100%; */
  }

  .staticStars {
    display: none;
  }
  @media only screen and (min-device-width: 568px) {
    .gr_custom_each_container_1487339563 {
      flex: 1 0 50%;
    }
  }
</style>

       <div id="gr_custom_widget_1487339563">
          <div class="gr_custom_container_1487339563">
    <h2 class="gr_custom_header_1487339563">
    <a style="text-decoration: none;" href="https://www.goodreads.com/review/list/64896106-enrique-moriarty?shelf=currently-reading&amp;utm_medium=api&amp;utm_source=custom_widget">Enrique&#39;s bookshelf: currently-reading</a>
    </h2>
      <div class="gr_custom_each_container_1487339563">
          <div class="gr_custom_book_container_1487339563">
            <a title="Trece monos" href="https://www.goodreads.com/review/show/1911152432?utm_medium=api&amp;utm_source=custom_widget"><img alt="Trece monos" border="0" src="https://images.gr-assets.com/books/1435059505m/25780018.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1487339563">
            <span class=" staticStars"><img src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_1487339563">
            <a href="https://www.goodreads.com/review/show/1911152432?utm_medium=api&amp;utm_source=custom_widget">Trece monos</a>
          </div>
          <div class="gr_custom_author_1487339563">
            by <a href="https://www.goodreads.com/author/show/1233506.C_sar_Mallorqu_">César Mallorquí</a>
          </div>
          <div class="gr_custom_tags_1487339563">
            tagged:
            currently-reading
          </div>
      </div>
      <div class="gr_custom_each_container_1487339563">
          <div class="gr_custom_book_container_1487339563">
            <a title="Practical Vim: Edit Text at the Speed of Thought" href="https://www.goodreads.com/review/show/1932733944?utm_medium=api&amp;utm_source=custom_widget"><img alt="Practical Vim: Edit Text at the Speed of Thought" border="0" src="https://images.gr-assets.com/books/1336278962m/13607232.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1487339563">
            <span class=" staticStars"><img src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_1487339563">
            <a href="https://www.goodreads.com/review/show/1932733944?utm_medium=api&amp;utm_source=custom_widget">Practical Vim: Edit Text at the Speed of Thought</a>
          </div>
          <div class="gr_custom_author_1487339563">
            by <a href="https://www.goodreads.com/author/show/5819490.Drew_Neil">Drew Neil</a>
          </div>
          <div class="gr_custom_tags_1487339563">
            tagged:
            currently-reading
          </div>
      </div>
      <div class="gr_custom_each_container_1487339563">
          <div class="gr_custom_book_container_1487339563">
            <a title="Masters of Doom: How Two Guys Created an Empire and Transformed Pop Culture" href="https://www.goodreads.com/review/show/1932756685?utm_medium=api&amp;utm_source=custom_widget"><img alt="Masters of Doom: How Two Guys Created an Empire and Transformed Pop Culture" border="0" src="https://images.gr-assets.com/books/1438591316m/222146.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1487339563">
            <span class=" staticStars"><img src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_1487339563">
            <a href="https://www.goodreads.com/review/show/1932756685?utm_medium=api&amp;utm_source=custom_widget">Masters of Doom: How Two Guys Created an Empire and Transformed Pop Culture</a>
          </div>
          <div class="gr_custom_author_1487339563">
            by <a href="https://www.goodreads.com/author/show/65730.David_Kushner">David Kushner</a>
          </div>
          <div class="gr_custom_tags_1487339563">
            tagged:
            currently-reading
          </div>
      </div>
      <div class="gr_custom_each_container_1487339563">
          <div class="gr_custom_book_container_1487339563">
            <a title="Clean Code: A Handbook of Agile Software Craftsmanship" href="https://www.goodreads.com/review/show/1980856606?utm_medium=api&amp;utm_source=custom_widget"><img alt="Clean Code: A Handbook of Agile Software Craftsmanship" border="0" src="https://images.gr-assets.com/books/1436202607m/3735293.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1487339563">
            <span class=" staticStars"><img src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_1487339563">
            <a href="https://www.goodreads.com/review/show/1980856606?utm_medium=api&amp;utm_source=custom_widget">Clean Code: A Handbook of Agile Software Craftsmanship</a>
          </div>
          <div class="gr_custom_author_1487339563">
            by <a href="https://www.goodreads.com/author/show/45372.Robert_C_Martin">Robert C. Martin</a>
          </div>
          <div class="gr_custom_tags_1487339563">
            tagged:
            currently-reading
          </div>
      </div>
      <div class="gr_custom_each_container_1487339563">
          <div class="gr_custom_book_container_1487339563">
            <a title="La horda. Una revolución mágica" href="https://www.goodreads.com/review/show/1980859242?utm_medium=api&amp;utm_source=custom_widget"><img alt="La horda. Una revolución mágica" border="0" src="https://images.gr-assets.com/books/1488401345m/34334736.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1487339563">
            <span class=" staticStars"><img src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_1487339563">
            <a href="https://www.goodreads.com/review/show/1980859242?utm_medium=api&amp;utm_source=custom_widget">La horda. Una revolución mágica</a>
          </div>
          <div class="gr_custom_author_1487339563">
            by <a href="https://www.goodreads.com/author/show/4548171.Servando_Rocha">Servando Rocha</a>
          </div>
          <div class="gr_custom_tags_1487339563">
            tagged:
            currently-reading
          </div>
      </div>
      <div class="gr_custom_each_container_1487339563">
          <div class="gr_custom_book_container_1487339563">
            <a title="España es sobrenatural" href="https://www.goodreads.com/review/show/2004796995?utm_medium=api&amp;utm_source=custom_widget"><img alt="España es sobrenatural" border="0" src="https://images.gr-assets.com/books/1262501726m/7479855.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1487339563">
            <span class=" staticStars"><img src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_1487339563">
            <a href="https://www.goodreads.com/review/show/2004796995?utm_medium=api&amp;utm_source=custom_widget">España es sobrenatural</a>
          </div>
          <div class="gr_custom_author_1487339563">
            by <a href="https://www.goodreads.com/author/show/14765453.Mondo_Brutto">Mondo Brutto</a>
          </div>
          <div class="gr_custom_tags_1487339563">
            tagged:
            currently-reading
          </div>
      </div>
  <br style="clear: both"/>
  <center>
    <a href="https://www.goodreads.com/"><img alt="goodreads.com" style="border:0" src="https://www.goodreads.com/images/widget/widget_logo.gif" /></a>
  </center>
  <noscript>
    Share <a href="https://www.goodreads.com/">book reviews</a> and ratings with Enrique, and even join a <a href="https://www.goodreads.com/group">book club</a> on Goodreads.
  </noscript>
  </div>

      </div>
      <script src="https://www.goodreads.com/review/custom_widget/64896106.Enrique's%20bookshelf:%20currently-reading?cover_position=left&cover_size=medium&num_books=8&order=a&shelf=currently-reading&show_author=1&show_cover=1&show_rating=1&show_review=1&show_tags=1&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=true&widget_border_width=1&widget_id=1487339563&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>

{{ content }}