<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "es" }}">
{% assign scripts = "animation easing" %}
{% include head.html scripts=scripts %}
<body class="not-found">
  <div class="wrapper">
    <div id="filter-header" class="not-found-header"> 
      <div class="headline">
          <h2>404</h2>
          <div class="headline-subtitle">Página no encontrada</div>
      </div>
      <p class="subheadline">
        ¡Uy! El contenido que buscas está roto o no existe.
        <br />
        Si lo deseas puedes mirar en los listados que se muestran más abajo. Quizá encuentres lo que buscabas.
        <br />
        O también puedes ir a la <a href="/">página de inicio</a>.
      </p>
      <div>
        <div class="scroll-button">
          <div id="scroll-action" class="scroll-button__outer-trigger">
            <div class="scroll-button__inner-trigger"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div id="filter-content" class="not-found-content">
    {{ content }}
    </div>
  </div>
  <script>
    window.addEventListener('DOMContentLoaded', function () {
      var scrollButton = document.getElementById('scroll-action');
      var targetValue = document.getElementById('filter-content').offsetTop;
      var duration = 1000;
      var cancelAnimation;

      scrollButton.addEventListener('click', function () {
        var startValue = window.scrollY || document.getElementById('filter-header').offsetTop;
        
        cancelAnimation = App.performAnimation(duration, function (progress) {
          var factor = App.easing.outQuart(progress, duration);
          var newPositionY = startValue + (targetValue - startValue) * factor;
          window.scrollTo(0, newPositionY > targetValue ? targetValue : newPositionY);
        })();

        window.addEventListener('wheel', function checkWheel() {
          cancelAnimation && cancelAnimation();
          window.removeEventListener('wheel', checkWheel);
        });
      });
    });
  </script>
</body>
</html>
  