---
layout: default
---
<div class="post">
  <header class="post__header">
    <h1 class="post__header__heading">
      {{ page.title }}
    </h1>
    <p class="post__header__subheading">
      {{ page.date | date: "%e %B %Y"
        | replace:"January","Enero"
        | replace:"February","Febrero"
        | replace:"March","Marzo"
        | replace:"May","Mayo"
        | replace:"June","Junio"
        | replace:"July","Julio"
        | replace:"August","Agosto"
        | replace:"September","Septiembre"
        | replace:"October","octubre"
        | replace:"November","noviembre"
        | replace:"December","Diciembre" }}
    </p>
  </header>
  {% if page.picture %}
    <p><img src={{ page.picture }} {% if page.picture_class %}class="{{ page.picture_class }}"{% endif %} {% if page.picture_alt %}alt="{{ page.picture_alt }}"{% endif %}></p>
  {% endif %}
  {{ content }}
</div>
